In [73]:
import pandas as pd

In [75]:
dataset = ['Hello my name is james',
          'james this is my python notebook named james',
          'james trying to create a big dataset',
          'james of words to try differnt',
          'features of count vectorizer']

In [76]:
dataset

['Hello my name is james',
 'james this is my python notebook named james',
 'james trying to create a big dataset',
 'james of words to try differnt',
 'features of count vectorizer']

# Count Vectorizer

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [77]:
cv=CountVectorizer(lowercase=False)

In [78]:
x=cv.fit_transform(dataset)

In [79]:
feature_name= cv.get_feature_names()  #features of the dataset
feature_name

C:\Users\HP\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['Hello',
 'big',
 'count',
 'create',
 'dataset',
 'differnt',
 'features',
 'is',
 'james',
 'my',
 'name',
 'named',
 'notebook',
 'of',
 'python',
 'this',
 'to',
 'try',
 'trying',
 'vectorizer',
 'words']

In [80]:
cv.vocabulary_ #position of the words in the matrix

{'Hello': 0,
 'my': 9,
 'name': 10,
 'is': 7,
 'james': 8,
 'this': 15,
 'python': 14,
 'notebook': 12,
 'named': 11,
 'trying': 18,
 'to': 16,
 'create': 3,
 'big': 1,
 'dataset': 4,
 'of': 13,
 'words': 20,
 'try': 17,
 'differnt': 5,
 'features': 6,
 'count': 2,
 'vectorizer': 19}

In [81]:
count_array= x.toarray() 
count_array

array([[1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 2, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0],
       [0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1],
       [0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0]],
      dtype=int64)

In [82]:
df = pd.DataFrame(data=count_array,columns = feature_name) #sparse matrix of dataset

In [83]:
df.shape

(5, 21)

In [84]:
df

,Hello,big,count,create,dataset,differnt,features,is,james,my,...,named,notebook,of,python,this,to,try,trying,vectorizer,words
0,1,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,2,1,...,1,1,0,1,1,0,0,0,0,0
2,0,1,0,1,1,0,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
3,0,0,0,0,0,1,0,0,1,0,...,0,0,1,0,0,1,1,0,0,1
4,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

# TF-IDF Vectorizer

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer